# The New York Times Best Sellers
    Base de dados com o top 5 livros mais vendidos da semana segundo a revista The New York Times.
    
# Período Analisado
    Março de 2010 a Dezembro de 2019.
    
# Objetivo da análise
    Analisar quais livros e autores permaneceram por maior núme ro de semanas no topo da lista em cada categoria.
    Autor: Arthur Lima Moreira
    Link para download do dataset: https://www.kaggle.com/datasets/dhruvildave/new-york-times-best-sellers

# Importação do pandas e da base de dados

In [1]:
import pandas as pd

tabela = pd.read_csv('bestsellers.csv')
display(tabela)

,published_date,list_name,list_name_encoded,rank,isbn13,isbn10,title,author,description,amazon_product_url,price,weeks_on_list
0,2010-01-03,Chapter Books,chapter-books,1,9780316036245,0316036242,WITCH AND WIZARD,James Patterson and Gabrielle Charbonnet,"One of each, brother and sister, flex their ne...",https://www.amazon.com/Witch-Wizard-James-Patt...,17.99,1
1,2010-01-03,Chapter Books,chapter-books,2,9780439023481,0439023483,THE HUNGER GAMES,Suzanne Collins,"In a dystopian future, a girl fights for survi...",https://www.amazon.com/The-Hunger-Games-Suzann...,17.99,67
2,2010-01-03,Chapter Books,chapter-books,3,9780439023498,0439023491,CATCHING FIRE,Suzanne Collins,"The protagonist of ""The Hunger Games"" returns.",https://www.amazon.com/Catching-Fire-Hunger-Ga...,17.99,16
3,2010-01-03,Chapter Books,chapter-books,4,9780763644109,0763644102,THE MAGICIAN’S ELEPHANT,Kate DiCamillo,An orphan in search of his sister follows a fo...,https://www.amazon.com/The-Magicians-Elephant-...,16.99,15
4,2010-01-03,Chapter Books,chapter-books,5,9780385738934,0385738935,FALLEN,Lauren Kate,"Thwarted love among misfits at a Savannah, Ga....",https://www.amazon.com/Fallen-Lauren-Kate/dp/0...,17.99,2
...,...,...,...,...,...,...,...,...,...,...,...,...
61425,2019-12-29,Young Adult Paperback Monthly,young-adult-paperback-monthly,1,9780142412145,0142412147,LET IT SNOW,"John Green, Maureen Johnson and Lauren Myracle",NaN,https://www.amazon.com/Let-It-Snow-Holiday-Rom...,0.00,0
61426,2019-12-29,Young Adult Paperback Monthly,young-adult-paperback-monthly,2,9780593109069,0593109066,LOOKING FOR ALASKA,John Green,NaN,https://www.amazon.com/Looking-Alaska-John-Gre...,0.00,0
61427,2019-12-29,Young Adult Paperback Monthly,young-adult-paperback-monthly,3,9781481438261,1481438263,LONG WAY DOWN,Jason Reynolds,NaN,https://www.amazon.com/Long-Way-Down-Jason-Rey...,0.00,0
61428,2019-12-29,Young Adult Paperback Monthly,young-adult-paperback-monthly,4,9780553496710,0553496719,THE SUN IS ALSO A STAR,Nicola Yoon,NaN,https://www.amazon.com/Sun-Also-Star-Nicola-Yo...,0.00,0
61429,2019-12-29,Young Adult Paperback Monthly,young-adult-paperback-monthly,5,9780525555377,0525555374,TURTLES ALL THE WAY DOWN,John Green,NaN,https://www.amazon.com/Turtles-All-Down-John-G...,0.00,0

# Deletando tabelas que não serão utilizadas na análise

In [2]:
tabela = tabela.drop('list_name_encoded', axis = 1)
tabela = tabela.drop('amazon_product_url', axis = 1)
tabela = tabela.drop('isbn10', axis = 1)
tabela = tabela.drop('isbn13', axis = 1)
tabela = tabela.drop('description', axis = 1)
display(tabela)

,published_date,list_name,rank,title,author,price,weeks_on_list
0,2010-01-03,Chapter Books,1,WITCH AND WIZARD,James Patterson and Gabrielle Charbonnet,17.99,1
1,2010-01-03,Chapter Books,2,THE HUNGER GAMES,Suzanne Collins,17.99,67
2,2010-01-03,Chapter Books,3,CATCHING FIRE,Suzanne Collins,17.99,16
3,2010-01-03,Chapter Books,4,THE MAGICIAN’S ELEPHANT,Kate DiCamillo,16.99,15
4,2010-01-03,Chapter Books,5,FALLEN,Lauren Kate,17.99,2
...,...,...,...,...,...,...,...
61425,2019-12-29,Young Adult Paperback Monthly,1,LET IT SNOW,"John Green, Maureen Johnson and Lauren Myracle",0.00,0
61426,2019-12-29,Young Adult Paperback Monthly,2,LOOKING FOR ALASKA,John Green,0.00,0
61427,2019-12-29,Young Adult Paperback Monthly,3,LONG WAY DOWN,Jason Reynolds,0.00,0
61428,2019-12-29,Young Adult Paperback Monthly,4,THE SUN IS ALSO A STAR,Nicola Yoon,0.00,0
61429,2019-12-29,Young Adult Paperback Monthly,5,TURTLES ALL THE WAY DOWN,John Green,0.00,0

# Analisando cada categoria individualmente

In [3]:
categorias = tabela['list_name'].value_counts(normalize = True)
lista_autores = tabela[['rank', 'list_name', 'author', 'weeks_on_list']].groupby(['rank', 'list_name', 'author']).max()
display(lista_autores)
display(categorias*100)

                                                                   weeks_on_list
rank list_name                       author
1    Advice How-To and Miscellaneous Allie Brosh                               9
                                     Bill Burnett and Dave Evans               1
                                     Bob Bones                                 1
                                     Bob Harper                                1
                                     Bob Harper with Greg Critser              1
...                                                                          ...
5    Young Adult Paperback           Tommy Wallach                             6
                                     Victoria Aveyard                         32
     Young Adult Paperback Monthly   John Green                                0
                                     Nic Stone                                 0
                                     Nicola Yoon                               0

[14192 rows x 1 columns]

Series Books                            4.248738
Trade Fiction Paperback                 4.248738
Hardcover Fiction                       4.248738
Hardcover Nonfiction                    4.248738
Paperback Nonfiction                    4.248738
Picture Books                           4.248738
Combined Print and E-Book Nonfiction    3.776656
Combined Print and E-Book Fiction       3.776656
Hardcover Graphic Books                 3.011558
Manga                                   3.011558
Mass Market Paperback                   3.011558
Paperback Graphic Books                 3.011558
Advice How-To and Miscellaneous         2.840632
Science                                 2.759238
Business Books                          2.580173
E-Book Fiction                          2.539476
E-Book Nonfiction                       2.539476
Sports                                  2.376689
Hardcover Political Books               2.197623
Childrens Middle Grade Hardcover        1.847631
Young Adult Hardcover                   1.847631
Food and Fitness                        1.456943
Hardcover Advice                        1.408107
Paperback Advice                        1.408107
Chapter Books                           1.253459
Paperback Books                         1.253459
Young Adult                             1.147648
Childrens Middle Grade                  1.147648
Animals                                 1.025558
Celebrities                             1.025558
Family                                  1.025558
Humor                                   1.025558
Religion Spirituality and Faith         1.025558
Travel                                  1.025558
Culture                                 0.993000
Games and Activities                    0.993000
Fashion Manners and Customs             0.993000
Education                               0.993000
Health                                  0.993000
Crime and Punishment                    0.993000
Relationships                           0.993000
Combined Print Nonfiction               0.960443
Combined Print Fiction                  0.960443
Expeditions Disasters and Adventures    0.919746
Race and Civil Rights                   0.919746
Espionage                               0.879049
Paperback Business Books                0.854631
Hardcover Business Books                0.854631
Audio Nonfiction                        0.781377
Audio Fiction                           0.781377
Young Adult Paperback                   0.610451
Childrens Middle Grade Paperback        0.610451
Young Adult E-Book                      0.610451
Childrens Middle Grade E-Book           0.610451
Indigenous Americans                    0.423246
Graphic Books and Manga                 0.105811
Mass Market Monthly                     0.105811
Middle Grade Paperback Monthly          0.105811
Young Adult Paperback Monthly           0.105811
Name: list_name, dtype: float64

#   Critério de separação de classes
Para evitar conflitos de dados repetidos, serão utilizadas as classes (list_name) para separar o dataset inicial para cada novo estudo.

# Books Series - Análise

In [9]:
classe_series = tabela.loc[tabela['list_name'] == 'Series Books']
'''
preco = classe_series['price'].value_counts()
display(preco)
Como a coluna price não possui valor nesta categoria, pode ser deletada
'''
classe_series = classe_series.drop('price', axis = 1)
display(classe_series)

,published_date,list_name,rank,title,author,weeks_on_list
60,2010-01-03,Series Books,1,THE TWILIGHT SAGA,Stephenie Meyer,124
61,2010-01-03,Series Books,2,DIARY OF A WIMPY KID,Jeff Kinney,49
62,2010-01-03,Series Books,3,PERCY JACKSON & THE OLYMPIANS,Rick Riordan,128
63,2010-01-03,Series Books,4,HOUSE OF NIGHT,PC Cast and Kristin Cast,69
64,2010-01-03,Series Books,5,THE 39 CLUES,various authors,32
...,...,...,...,...,...,...
61410,2019-12-29,Series Books,1,DOG MAN,Dav Pilkey,120
61411,2019-12-29,Series Books,2,DIARY OF A WIMPY KID,Jeff Kinney,561
61412,2019-12-29,Series Books,3,HARRY POTTER,JK Rowling,560
61413,2019-12-29,Series Books,4,CAPTAIN UNDERPANTS,Dav Pilkey,200
61414,2019-12-29,Series Books,5,DORK DIARIES,Rachel Renée Russell,304

# Books Series - Separação de maiores best-sellers por autor
    Amostragem de última semana em que apareceu na lista em determinada posição e número máximo de semanas que permaneceu na lista.

In [129]:
autores_series = classe_series[['published_date', 'author', 'title', 'weeks_on_list']].groupby(['author', 'title']).max()
autores_series = autores_series.sort_values(['weeks_on_list'], ascending=False)
#display(autores_series.head(50))

#   SELECIONANDO OS MAIS VENDIDOS QUE PERMANECERAM NA LISTA POR MAIS DE 6 MESES (26 SEMANAS)
autores_series = autores_series.head(38)
display(autores_series)

,,published_date,weeks_on_list
author,title,,
Jeff Kinney,DIARY OF A WIMPY KID,2019-12-29,561
JK Rowling,HARRY POTTER,2019-12-29,560
Rick Riordan,PERCY JACKSON & THE OLYMPIANS,2019-09-15,517
Rachel Renée Russell,DORK DIARIES,2019-12-29,304
Mary Pope Osborne,MAGIC TREE HOUSE,2014-06-15,276
Stephenie Meyer,THE TWILIGHT SAGA,2015-11-08,222
Suzanne Collins,THE HUNGER GAMES,2015-01-25,220
Dav Pilkey,CAPTAIN UNDERPANTS,2019-12-29,200
James Dashner,THE MAZE RUNNER,2016-11-06,181
Cassandra Clare,THE MORTAL INSTRUMENTS,2016-01-31,167
Lois Lowry,GIVER QUARTET,2019-09-15,161
PC Cast and Kristin Cast,HOUSE OF NIGHT,2014-11-02,152
Lincoln Peirce,BIG NATE,2019-09-22,150
Lemony Snicket,A SERIES OF UNFORTUNATE EVENTS,2017-02-19,143
Dav Pilkey,DOG MAN,2019-12-29,120
Eoin Colfer,ARTEMIS FOWL,2012-08-05,117
Erin Hunter,WARRIORS,2012-05-06,111
Rick Riordan,HEROES OF OLYMPUS,2016-06-12,110
various authors,THE 39 CLUES,2012-04-15,100
Ransom Riggs,MISS PEREGRINE’S PECULIAR CHILDREN,2018-10-28,99
Veronica Roth,DIVERGENT,2016-02-07,97
Jim Gigliotti and others; various illustrators,WHO WAS/IS . . . ?,2019-09-08,88
John Flanagan,RANGER’S APPRENTICE,2019-06-16,81
James Patterson,MAXIMUM RIDE,2015-06-14,80
Tui T Sutherland,WINGS OF FIRE,2019-12-01,65
Anthony Horowitz,THE ALEX RIDER ADVENTURES,2011-04-17,64
Kiera Cass,THE SELECTION,2016-07-10,64
Sara Shepard,PRETTY LITTLE LIARS,2012-06-24,63
L J Smith,VAMPIRE DIARIES,2011-04-03,56
Richelle Mead,VAMPIRE ACADEMY,2014-03-16,52
Aaron Blabey,THE BAD GUYS,2019-09-29,48
Lauren Tarshis,I SURVIVED,2019-02-17,47
James Patterson and others,MIDDLE SCHOOL,2017-04-30,44
Chris Colfer,THE LAND OF STORIES,2017-09-10,40
Christopher Paolini,INHERITANCE,2012-03-25,39
Pittacus Lore,I AM NUMBER FOUR,2016-07-24,32
Jenny Han,TO ALL THE BOYS I'VE LOVED BEFORE,2019-03-03,31
Max Brallier,THE LAST KIDS ON EARTH,2019-12-22,27